{% extends "layout.html" %}

{% block title %}게시판{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/posts.css') }}">
{% endblock %}

{% block content %}
<main>
    <section class="board">
        <h1>게시판</h1>
        <p>{{ total_posts }}개의 게시물</p>
        <div class="search-actions-container">
            <form action="{{ url_for('posts') }}" method="GET" class="search-bar"> 
                <input type="text" name="search" placeholder="제목을 검색하세요" value="{{ request.args.get('search', '') }}">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>                
            <div class="actions">
                {% if session.get('logged_in') %}
                    <button class="new-post" onclick="location.href=`{{ url_for('new_post') }}`">새 글 작성하기</button>
                {% endif %}
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>댓글수</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td><a href="{{ url_for('view_post', post_id=post['id']) }}" style="display: block; width: 100%; height: 100%;">{{ post['title'] }}</a></td>
                    <td><a href="{{ url_for('view_post', post_id=post['id']) }}" style="display: block; width: 100%; height: 100%;">{{ post['author'] }}</a></td>
                    <td><a href="{{ url_for('view_post', post_id=post['id']) }}" style="display: block; width: 100%; height: 100%;">{{ post['comment_count'] }}</a></td>
                    <td><a href="{{ url_for('view_post', post_id=post['id']) }}" style="display: block; width: 100%; height: 100%;">{{ post['created_at'].strftime('%Y-%m-%d') }}</a></td>
                </tr>
                {% endfor %}
            </tbody>                
        </table>

        <!-- 페이지네이션 버튼 -->
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('posts', page=page-1, search=request.args.get('search')) }}">&laquo; 이전</a>
            {% endif %}
            
            {% for p in range(1, total_pages + 1) %}
                {% if p == page %}
                    <span class="current">{{ p }}</span>
                {% else %}
                    <a href="{{ url_for('posts', page=p, search=request.args.get('search')) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}

            {% if page < total_pages %}
                <a href="{{ url_for('posts', page=page+1, search=request.args.get('search')) }}">다음 &raquo;</a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
