{% extends "layout.html" %}

{% block title %}순위{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/rank.css') }}">
{% endblock %}

{% block content %}
<main>
    <section class="ranking">
        <table>
            <thead>
                <tr>
                    <th>순위</th>
                    <th>사용자</th>
                    <th>점수</th>
                </tr>
            </thead>
            <tbody id="rank-table-body">
                {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.score }}점</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
